#The data files
*.ipac
*.txt
*.dict
*.pdf
*.png
*.fitrs
results/*

#Python auxillary files
test/*
bak/*
*.pyc
input_*.py
test_*.py
bak_*.py
sv_*.py
aux_*.py
config*

#SED data
data/*
*.sed
*.tmplt

#Trash
trash/*
