#The data files
*.ipac
*.txt
*.dict
*.pdf
*.png
*.fitrs
*.*sed
results/*
chains*/*
template/grain_models/*

#Python auxillary files
bak/*
*.pyc
*.hdf5
input_*.py
bak_*.py
sv_*.py
aux_*.py
test*
config*
result_*.py
mock_*.py
temp/
*.swp

#SED data
data/*
mock/*
*.sed
*.tmplt

#Trash
trash/*
