#The data files
*.ipac
*.txt
*.dict
*.pdf
*.png
*.fitrs
results/*

#Python auxillary files
bak/*
*.pyc
*.hdf5
input_*.py
bak_*.py
sv_*.py
aux_*.py
test*
config*

#SED data
data/*
*.sed
*.tmplt

#Trash
trash/*
